<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, height=device-height" />
    <title>Retro-Pokedex</title>
    <link rel="stylesheet" href="./css/CoveoFullSearch.css" />
    <link rel="stylesheet" href="./css/coveoextension.css" />
    <script src="js/CoveoJsSearch.Lazy.js"></script>
    <script src="js/coveo.extension.js"></script>
    <script src="js/templates/templates.js"></script>
    <script src="../config.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        Coveo.SearchEndpoint.configureCloudV2Endpoint(
          "pokemonapudc3k8172",
          "xx6d184de8-8645-4e18-b394-6300d8481806"
        );
        Coveo.init(document.body);
      });
    </script>
    <style>
      html {
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ba4f3435-f426-4149-a8c5-2d8ed1d01a0b/d9de59i-3025395e-45e2-492b-8876-d801e1bcff09.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYmE0ZjM0MzUtZjQyNi00MTQ5LWE4YzUtMmQ4ZWQxZDAxYTBiXC9kOWRlNTlpLTMwMjUzOTVlLTQ1ZTItNDkyYi04ODc2LWQ4MDFlMWJjZmYwOS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.CXi_yL7hjCmr8OU9onTA0BNzdqN0-QZwxhi2S0j05iU);
        background-repeat: repeat;
      }
      .center-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .center-text {
        text-align: center;
      }
      * {
        font-family: "Press Start 2P", cursive;
        font-size: 10px;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000;
        color: #00ff00;
      }
      .poke-dot {
        border: dotted 10px;
        border-color: #263e55;
      }
      rect {
        fill: #ff00ff !important;
      }
      .coveo-facet-header-title {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
          1px 1px 0 #000 !important;
        color: #00ff00 !important;
      }
    </style>
  </head>
  <body id="search" class="CoveoSearchInterface" data-enable-history="true">
    <img
      src="https://data.whicdn.com/images/129015252/original.gif"
      class="center-image"
    />
    <div class="coveo-search-section">
      <div class="CoveoSettings" style="background-color: white"></div>
      <div
        class="CoveoSearchbox"
        data-enable-omnibox="true"
        style="background-color: white"
      >
        <div class="CoveoFieldSuggestions" data-field="@name"></div>
      </div>
    </div>
    <div class="coveo-main-section">
      <div class="coveo-facet-column">
        <div
          class="CoveoFacet"
          data-title="Generation"
          data-field="@generation"
          data-tab="All"
          data-enable-toggling-operator="true"
          style="background-color: #ff00ff"
        ></div>
        <div
          class="CoveoFacet"
          data-title="Specie"
          data-field="@specie"
          data-tab="All"
          data-enable-toggling-operator="true"
          style="background-color: #ff00ff"
        ></div>
        <div
          class="CoveoFacet"
          data-title="Types"
          data-field="@types"
          data-tab="All"
          data-enable-toggling-operator="true"
          style="background-color: #ff00ff"
        ></div>
        <div
          class="CoveoFacetSlider"
          data-title="Weight"
          data-field="@weight_int"
          data-tab="All"
          data-steps="100"
          data-graph-steps="10"
          data-range-slider="true"
        ></div>
        <div
          class="CoveoFacetSlider"
          data-title="Height"
          data-field="@height_int"
          data-tab="All"
          data-steps="100"
          data-graph-steps="10"
          data-range-slider="true"
        ></div>
        <div
          class="CoveoFacetSlider"
          data-title="Hp"
          data-field="@hp_int"
          data-tab="All"
          data-steps="100"
          data-graph-steps="10"
          data-range-slider="true"
        ></div>
        <div
          class="CoveoFacetSlider"
          data-title="Attack"
          data-field="@attack_int"
          data-tab="All"
          data-steps="100"
          data-graph-steps="10"
          data-range-slider="true"
        ></div>
        <div
          class="CoveoFacetSlider"
          data-title="Defense"
          data-field="@defense_int"
          data-tab="All"
          data-steps="100"
          data-graph-steps="10"
          data-range-slider="true"
        ></div>
        <div
          class="CoveoFacetSlider"
          data-title="Speed"
          data-field="@speed_int"
          data-tab="All"
          data-steps="100"
          data-graph-steps="10"
          data-range-slider="true"
        ></div>
      </div>
      <div class="coveo-results-column">
        <div class="CoveoShareQuery"></div>
        <div class="CoveoExportToExcel"></div>
        <div class="CoveoPreferencesPanel">
          <div class="CoveoResultsPreferences"></div>
          <div class="CoveoResultsFiltersPreferences"></div>
        </div>
        <div class="CoveoBreadcrumb" style="background-color: white"></div>
        <div class="coveo-results-header">
          <div class="coveo-summary-section" style="background-color: white">
            <span class="CoveoQuerySummary"></span>
            <span class="CoveoQueryDuration"></span>
          </div>
          <div class="coveo-result-layout-section">
            <span class="CoveoResultLayout"></span>
          </div>
          <div class="coveo-sort-section" style="background-color: white">
            <span
              class="CoveoSort"
              data-sort-criteria="relevancy"
              data-caption="Relevance"
            ></span>
            <span
              class="CoveoSort"
              data-sort-criteria="date descending,date ascending"
              data-caption="Date"
            ></span>
          </div>
        </div>
        <div class="CoveoHiddenQuery"></div>
        <div class="CoveoDidYouMean" style="background-color: white"></div>
        <div class="CoveoErrorReport"></div>
        <div
          class="CoveoResultList"
          data-layout="card"
          data-wait-animation="fade"
          data-auto-select-fields-to-include="true"
        >
          <script
            type="text/underscore"
            class="result-template"
            type="text/html"
          >
            <div
              class="coveo-result-frame poke-dot"
              style="background-color: #ff00ff;"
            >
              <% if(raw.generation == 8) { %>
              <span class="center-image" style="background-color: #f47e30;">
                <img
                  src="https://64.media.tumblr.com/34c880a97d26984628faaf0d272788ff/tumblr_n2rhwe20sK1rcgdmto1_500.gifv"
                  width="25"
                  height="25"
                />
                RETRO
                <img
                  src="https://64.media.tumblr.com/34c880a97d26984628faaf0d272788ff/tumblr_n2rhwe20sK1rcgdmto1_500.gifv"
                  width="25"
                  height="25"
                />
              </span>
              <% } %>
              <img
                src="<%- raw.picture_url %>"
                width="128"
                height="128"
                onclick="window.open('<%- ClickUri %>', '_blank');"
                class="center-image"
              />
              <div class="coveo-result-row center-image">
                <div class="coveo-result-cell">
                  <p class="center-text"><%- raw.name %></p>
                  <p class="center-text">#<%- raw.number %></p>
                  <p class="center-text">
                    <%- (raw.types).replace(';', ' & ') %>
                  </p>
                  <p class="center-text">
                    <i class="fa fa-paw"></i>&nbsp<%- raw.specie %>
                  </p>
                  <p class="center-text">
                    <i class="fa fa-heart"></i>&nbsp<%- raw.hp %> -
                    <i class="fa fa-bolt"></i>&nbsp<%- raw.attack %> -
                    <i class="fa fa-shield"></i>&nbsp<%- raw.defense %> -
                    <i class="fa fa-rocket"></i>&nbsp<%- raw.speed %>
                  </p>
                </div>
              </div>
              <div class="CoveoCardActionBar">
                <div class="CoveoQuickview">
                  <i class="fa fa-eye"></i>
                </div>
              </div>
            </div>
          </script>
        </div>
        <div class="CoveoPager" style="background-color: white"></div>
        <div class="CoveoResultsPerPage" style="background-color: white"></div>
      </div>
    </div>
  </body>
</html>
